@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

@import "tailwindcss";

@theme {
	--font-raleway: "Raleway", sans-serif;
	--font-abril: "Abril Fatface", serif;

	--color-primary: #071c21;
	--color-secondary: #f4ebd0;
	--color-accent: #c6de41;

	/* MOBILE SIDEBAR ANIMATION */
	--ease-slide: cubic-bezier(0.19, 0.02, 0.01, 1.01);

	/* ERROR PAGE SVG's CHARACTERS ANIMATION */
	--animate-float: float 10s ease-in-out infinite;
	@keyframes float {
		0%,
		100% {
			transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
		}
		25% {
			transform: translate3d(5px, -10px, 0) scale(1.05) rotate(2deg);
		}
		50% {
			transform: translate3d(0, -20px, 0) scale(1.1) rotate(4deg);
		}
		75% {
			transform: translate3d(-5px, -10px, 0) scale(1.05) rotate(-2deg);
		}
		100% {
			transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
		}
	}
}

:root {
	--primary: #071c21;
	--secondary: #f4ebd0;
	--accent: #c6de41;
}

.monaco-editor .margin {
	background-color: #071c21 !important;
}
